{% extends "base.html" %}

{% block content %}
<p>
	<h3> About Me </h3>
	<br>
	<p>
			My name is Akhil Arularasu and I am a Junior at Bridgewater-Raritan High School. I have always been an avid environmental enthusiast and care about creating an eco-friendly Earth around me.
	</p>
	<p>
I first started composting four years ago when I realized just how much food was wasted in my own home and my community around me. Over time, I realized the benefits of doing so as I saw by my own eyes how food that would have otherwise been sent to rot at a landfill transformed (almost magically) into nutrient-rich fertilizer for my garden. I have since founded stopfoodwaste.net where I have been spreading awareness of promoting an environmentally sustainable earth through reduction of food waste through several initiatives such as a pledge drive, analysis using data science tools, infographics, and videos that are run through this site. Check them out!
	</p>
	<p>
Apart from composting, I enjoy cross-country running as a part of my school’s cross country team, going camping with my Boy Scout Troop, and competing at Forensics Tournaments around the state and nationally.
	</p>
<img src="/static/img/akhil-compost.jpg" class="rounded mx-auto d-block" width="400px" style='max-height:1500px;' alt="face">
{% endblock %}
